<form class="sign-in hvr-float-shadow" action="<%= session_url %>" method="post">
  <span class="errors"><%= flash.now[:errors] %></span>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label class="username">Username</label>
  <input class="username" type="text" name="user[username]" value="<%= @user.username %>">

  <label class="password">Password</label>
  <input class="password" type="password" name="user[password]" value="">

  <button name="button" class="submit">Submit</button>
</form>
