<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>">

  <label>Password</label>
  <input type="password" name="user[password]" value="">

  <button name="button">Submit</button>
</form>
