<h1>Send a Message ^_^V</h1>

<label>Send to:
<select id="sendee">
  <% users.each(function(user){ %>
    <option value="<%= user %>"><%= user.escape("username") %>
  <% }) %>
</select>
</label>

<form id="new-message">
  <label>
    Title
    <input type="text" value="">
  </label>

  <label>
    Body
    <input type="text" value="">
  </label>

  <button class="submit">Send</button>
</form>
