<h1 class="new-messages-header">Send a Message ^_^V</h1>

<form id="new-message">
  <input type="hidden" name="message[sender_id]" value="<%= OkStupid.currentUser.id %>">
  <label class="new-msg-receiver">Send to:
    <select id="sendee" name="message[receiver_id]">

    <% users.each(function(user){ %>
      <% if(user.id === OkStupid.currentUser.id){ %>
        <% return false; %>
      <% } %>
      <option value="<%= user.id %>"><%= user.escape("username") %>
    <% }) %>
    </select>
  </label>

  <label class="new-msg-title">
    Title
    <input class="msg-title" type="text" name="message[title]" value="">
  </label>

  <label class="new-msg-body">
    <textarea class="msg-body" name="message[body]" rows="30" cols="130" value="Say hello!" placeholder="Say hello!"></textarea>
  </label>

  <input type="submit" class="submit new-msg hvr-grow-shadow" value="Send!"></button>
</form>
