<h1>Send a Message ^_^V</h1>

<form id="new-message">
  <input type="hidden" name="message[sender_id]" value="<%= OkStupid.currentUser.id %>">
  <label>Send to:
    <select id="sendee" name="message[receiver_id]">

    <% users.each(function(user){ %>
      <% if(user.id === OkStupid.currentUser.id){ %>
        <% return false; %>
      <% } %>
      <option value="<%= user.id %>"><%= user.escape("username") %>
    <% }) %>
    </select>
  </label>

  <label>
    Title
    <input class="msg-title" type="text" name="message[title]" value="">
  </label>

  <label>
    Body
    <textarea class="msg-body" name="message[body]" rows="8" cols="40" value="Say hello!"></textarea>
  </label>

  <input type="submit" class="submit" value="Send!"></button>
</form>
