<div id="bars">
<h1 class="title group">
  <a class="title" href="/#">Ok<i class="fa fa-heart"></i>Calypso</a>
  <% if(OkStupid.currentUser.isSignedIn()) { %>
  <nav class="sign-outs">
    <strong class="user-name">How-de-do <strong style="color:#C3C3DA;"><%= OkStupid.currentUser.escape("username") %></strong></strong>
    <a class="user-search" href="#users"><i class="fa fa-search"></i> Find a User</a>
    <a href="#" id="sign-out-link"><i class="fa fa-sign-out"></i> Sign Out</a>
  </nav>



<% } else { %>
  <nav class="sign-ins">
    <a href="#session/new"><i class="fa fa-sign-in"></i> Sign In</a>
    <a href="#users/new"><i class="fa fa-arrow-circle-o-up"></i> Sign Up</a>
  </nav>

<% } %>


</h1>

<nav class="sidebar">
  <a class="hvr-box-shadow-outset" href="/#questions"><i class="fa fa-question"></i> Questions</a>
  <% if(typeof currentUser.get('id') !== "undefined"){ %>
      <a class="hvr-box-shadow-outset" href="/#profiles/<%= currentUser.get('id') %>"><i class="fa fa-user"></i> Profile</a>
  <% } else { %>
      <a class="hvr-box-shadow-outset" href="#session/new"><i class="fa fa-user"></i> Profile</a>
  <% } %>
  <a class="hvr-box-shadow-outset" href="/#messages"><i class="fa fa-envelope"></i> Messages</a>
  <a class="hvr-box-shadow-outset" href="/#matches"><i class="fa fa-heart"></i> Matches</a>
  <a class="hvr-box-shadow-outset" href="/#likes"><i class="fa fa-star"></i> Likes</a>
</nav>
</div>
