<div class=user-search-header>
  <h3 class="user-search">
  There are a total of <strong style="color: #f00;"><%= OkStupid.users.length %></strong> registered users.</h3>
  You can search by username, email, orientation, country, gender, or even zip code!
</div>

<div class="search-input">
  <input type="text" class="query hvr-glow" value="<%= collection._query %>">
  <input type="submit" class="search">
  <% if(false){ %>
    <a href="next-page" class="next-page">Next Page</a>
  <% } %>
</div>

<ul class="search-results js-masonry" data-masonry-options='{ "columnWidth": 150, "itemSelector": "li.searches" }'>
  Your one true love is just a click away~!
</ul>
