<h3 class="user-search">Your one true love is just a click away~!</h3>
<p>
  You can search by username, email, orientation, country, gender, or even zip_code!
</p>

<input type="text" class="query hvr-glow" value="<%= collection._query %>">
<input type="submit" class="search">

<a href="next-page" class="next-page">Next Page</a>
<ul class="search-results">

</ul>
