<form class="sign-in hvr-float-shadow">
  <h2>Sign In</h2>

  <p>
    <a href="/auth/facebook"><i class="fa fa-facebook-square"></i> Sign In With Facebook</a>
    <a href="#" id="guest-login"><i class="fa fa-user"></i> Sign In As Guest</a>
    <div class="sign-in loading">Signing in Guest... <i class="fa fa-smile-o fa-3x"></i>
    <div id="patience">Hold on a moment, please, while we formulate your data.<i class="fa fa-spinner"></i></div></div>
  </p>

  <label>
    Username
    <input type="text" name="user[username]" class="username hvr-glow" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" class="password hvr-glow">
  </label>

  <button>Sign In</button>
</form>
