All Users
<ul class="js-masonry" data-masonry-options='{ "columnWidth": 150, "itemSelector": "li.searches" }'>
  <% users.each(function(user){ %>
    <li class="searches"><img src="<%= user.escape("image_url") %>" alt="thumbnail" /><%= user.escape("username") %></li>
  <% }) %>
</ul>
