<h1>Your Matches</h1>

<button class="create-matches">Refresh Matches</button>

<ul>
  <% if(OkStupid.matches.length > 0 && OkStupid.users.length > 0){ %>
    <% OkStupid.matches.where({ matcher_id: OkStupid.currentUser.id }).forEach(function(match){ %>
      <% OkStupid.users.where({ id: match.get("matchee_id") }).forEach(function(user){ %>
        <li><a href="#"><%= user.escape("username") %></a></li>
      <% }) %>
    <% }) %>
  <% } else { %>
    <strong>You don't have any matches. You will die alone. Goodbye. Beepboop.</strong>
  <% } %>
</ul>
