@media only screen and (max-width: 675px) {
  /*Header*/
  strong.user-name {
    display: none;
  }

  /*Sidebar*/
  nav.sidebar {
    width: 100%;
    height: 100%;
  }

  nav.sidebar a.hvr-box-shadow-outset {
  }

  /*Profile*/
  form.profile-edit, form.profile-edit p {
    width: 78%;
  }

  form.profile-edit h4 {
    width: 70%;
  }

  /*Questions*/
  ul.questions div.answer {
    width: 100%;
  }
}

@media only screen and (max-width: 655px) {
  /*Sidebar*/
  nav.sidebar a.hvr-box-shadow-outset {
    border-bottom: none;
    padding: 10px 10px 10px 0px;
    width: 121px;
  }

  nav.sidebar {
    border-bottom: 1px solid #000;
  }

  nav.sidebar i {
    padding-left: 26px;
  }

  /*Messages*/
  h1.messages-header {
    padding-left: 0;
    text-align: center;
    padding-top: 117px;
  }

  ul.messages {
    margin-left: 45px;
  }

  ul.message-options {
    padding-left: 45px;
  }

  /*Profiles*/
  h3.profile-show-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  div#profile-picture {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    font-size: 30px;
  }

  div#profile-picture label {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    width: 190px;
    margin-top: 117px;
  }

  div.bootins {
    position: static;
    margin-top: 10px;
  }

  form.unlike button.unlike {
    float: none;
  }

  img#profile-image-preview {
    margin-left: auto;
    margin-right: auto;
    width: 183px;
    height: 183px;
  }

  i.avatar-edit {
    left: 69%;
    bottom: 148px;
    font-size: 2em;
  }

  form.profile-edit {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }

  form.profile-edit h4 {
    width: 100%;
  }

  form.profile-edit p {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  textarea.profile-edit {
    margin-left: auto;
    margin-right: auto;
  }

  form#change-avatar {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
  }

  button.change-avatar {
  position: absolute;
  top: 1px;
  right: 172px;
  }

  /*Questions*/
  ul.questions {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  ul.questions li.questions {
    height: 100%;
  }

  button.question {
    position: static;
  }

  h1.questions-header {
    padding-left: 0;
    text-align: center;
    padding-top: 117px;
  }

  /*Likes*/
  h1.likes-header {
    padding-left: 0;
    text-align: center;
    padding-top: 117px;
  }

  ul.likes {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /*Matches*/
  h1.match-header {
    padding-left: 0;
    text-align: center;
    padding-top: 117px;
  }

  ul.matches.group {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
  }

  li.matches button.unlike {
    float: right;
  }

  /*User Search*/
  div.user-search-header {
    padding-left: 0;
    text-align: center;
    padding-top: 117px;
  }

  div.search-input {
    padding-left: 0;
    text-align: center;
    margin-left: 31px;
  }

  ul.search-results {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /*Sign In*/
  div#content form.sign-in {
    top: 116px;
    padding-top: 65px;
    width: 45%;
    padding: 0 50px 20px 50px;
    height: 455px;
    margin: auto;
    position: static;
    text-align: center;
  }

  form.sign-in h2 {
    padding-top: 130px;
  }

  /*Sign Up*/
  div.new-user form.new-user {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 145px;
    text-align: center;
  }

  /*Header*/
  nav.sign-ins a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 578px) {
  /*Header*/
  nav.sign-ins {
    margin: -36px 20px;
    width: 96px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  nav.sign-ins a {
    font-size: 19px;
    padding: 0;
  }
}

@media only screen and (max-width: 530px) {
  /*Header*/
  nav.sign-outs a.user-search {
    float: right;
    font-size: 10px;
    bottom: 11px;
  }

  nav.sign-outs a#sign-out-link {
    top: 13px;
    left: 72px;
    font-size: 10px;
  }

  nav.sign-ins {
    width: 86px;
  }
}

@media only screen and (max-width: 411px) {
  /*Sidebar*/
  nav.sidebar a.hvr-box-shadow-outset {
    width: 118px;
  }
}

@media only screen and (max-width: 407px) {
  nav.sign-ins {
    width: 74px;
  }

  nav.sign-ins a {
    font-size: 16px;
  }
}
