/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
html, head, title, body, h1, a, h2, h3, nav, span, form, input, label, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font: inherit;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  background: #CACADC;
}

h1.title {
  background: #436CE8;
  width: 100%;
  position: relative;
  height: 73px;
  /*display: block;*/
}

a.title {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  padding: 0 0 0 10px;
}

a.title i.fa-heart {
  font-size: 30px;
  color: #f00;
}

a.title:hover {
  color: #00f;
}

a.title:hover i.fa-heart {
  color: #fff;
}

a.title:link {
  text-decoration: none;
}

a.title:visited {
  text-decoration: none;
}

nav.sign-ins {
  display: block;
  float: right;
  width: auto;
  margin: 20px 20px;
}

nav.sign-outs {
  display: block;
  float: right;
  width: auto;
  margin: 20px 20px;
}

.sign-ins a {
  color: #8EA7F1;
  padding: 23px;
  font-size: 20px;
}

.sign-ins a:hover {
  color: #fff;
}

h1.title ~ h2 {
  position: absolute;
  display: block;
  float: right;
  width: auto;
}

h1.title nav.sign-outs strong.user-name {
  float: left;
  margin: 7px 10px 0 0;
  color: #fff;
}

nav.sidebar {
  float: left;
  width: 120px;
  background: #BDBDBD;
  height: 700px;
}

nav.sidebar a {
  float: left;
  width: 100px;
  display: block;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.hvr-box-shadow-outset {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

body h2.greet {
  font-size: 18px;
  color: #fff;
  float: left;
  margin: 0 20px 0 0;
}

form#sign-out.group {
  float: left;
}

nav.sign-outs a.user-search {
  float: left;
  margin: 0 15px 0 0;
  color: #fff;
  background: #8EA7F1;
  padding: 5px;
  border-radius: 3px;
}

nav.sign-outs a.user-search:hover {
  color: #00f;
}

h1.title a#sign-out-link {
  background: #8EA7F1;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  position: relative;
  top: 5px;
}

h1.title a#sign-out-link:hover {
  color: #00f;
}

/* Sign In Form */
form.sign-in {
  background: #8EA7F1;
  position: relative;
  width: 250px;
  height: 600px;
  top: 100px;
  padding: 0 230px 0 230px;
  margin-left: 200px;
}

form.sign-in h2 {
  font-size: 24px;
  font-weight: bold;
}

form.sign-in:hover h2 {
  color: #00f;
}

form.sign-in a {
  border: 1px solid #fff;
  margin: 5px;
  padding: 3px;
  font-size: 16px;
  border-radius: 2px;
  float: left;
}

form.sign-in a:hover {
  border: 1px solid #00f;
  color: #00f;
}

form.sign-in label {
  float: left;
}

form.sign-in input {
  background: #fff;
  margin: 5px 0 5px 0;
}

form.sign-in button {
  background: #436CE8;
  border-radius: 3px;
  float: left;
}

.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
