// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.likes-header {
  padding-top: 100px;
  padding-left: 150px;
  font-size: 30px;
  padding-bottom: 20px;
}

ul.likes {
  background: #DCDCDF;
  margin: 0 40px 0 160px;
  padding: 10px;
  list-style-type: none;
}

ul.likes img {
}

ul.likes li {
  margin: 10px;
  background: #fff;
  height: 128px;
}

li.likes a.likee-name {
  position: relative;
  margin-left: 10px;
  bottom: 100px;
  font-size: 24px;
}

li.likes img {
  margin: 0;
}

.hvr-overline-from-right {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2098d1;
  height: 6px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}

a.item-link {
  width: 800px;
  height: 100px;
}

em {
  font-size: 10px;
}
