// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.messages-header {
  padding-top: 100px;
  padding-left: 150px;
  padding-bottom: 4px;
  font-size: 30px;
}

h1.new-messages-header {
  padding-top: 100px;
  padding-left: 150px;
  font-size: 30px;
  padding-bottom: 30px;
}

ul.messages {
  list-style: none;
  margin-left: 160px;
  margin-right: 40px;
  background: #DCDCDF;
  padding: 20px;
  margin-top: 19px;
}

ul.messages ul.sent-msg {
  list-style: none;
  padding: 5px 0 5px 0;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 5px solid #fff;
}

ul.messages ul.received-msg {
  list-style: none;
  padding: 5px 0 5px 0;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 5px solid #fff;
}

ul li.msg {
  background: #8EA7F1;
}

form#new-message {
  display: block;
}

h4.sent-msg-header, h4.received-msg-header {
  font-size: 20px;
  margin: 0 0 10px 0;
}

form#new-message {
  width: 300px;
  padding-left: 160px;
}

.new-msg-receiver, .new-msg-title, .new-msg-body, input.new-msg {
  float: left;
  padding-bottom: 10px;
}

textarea.msg-body:hover {
  border: 1px solid #00f;
}

input.new-msg {
  padding: 3px;
  color: #fff;
}

input.new-msg:hover {
  color: #00f;
}

.hvr-grow-shadow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

ul.message-options {
  list-style: none;
  height: 20px;
  padding-left: 160px;
  margin-bottom: 0px;
}

li.msg-option {
  float: left;
  padding-right: 10px;
  background: #E0E0FF;
  padding: 10px;
}

li.msg-option.middle {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

li.msg-option:hover {
  cursor: pointer;
}

li.msg-option.selected {
  background: #DCDCDF;
}

li.msg-option.hidden {
  display: none;
}
