// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea.profile-edit {
  border: none;
  resize: none;
  display: block;
  overflow: hidden;
}

textarea.profile-edit:hover {
  border: 1px solid blue;
  resize: both;
}

textarea.profile-edit:focus {
  border: 1px solid blue;
}

button.like {
  background: #8EA7F1;
  padding: 3px;
  border-radius: 3px
}

button.like:hover {
  cursor: pointer;
  color: #fff;
}
