// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.profile-edit {
  margin: 0 0 0 140px;
  padding-bottom: 20px;
}

textarea.profile-edit {
  border: none;
  resize: none;
  display: block;
  overflow: hidden;
}

textarea.profile-edit:hover {
  border: 1px solid blue;
  resize: both;
}

textarea.profile-edit:focus {
  border: 1px solid blue;
}

button.like {
  background: #C3C3DA;
  padding: 3px;
  border-radius: 3px;
  float: right;
  position: relative;
  top: 50px;
  left: 120px;
}

button.unlike {
  background: #8EA7F1;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  float: right;
  position: relative;
  top: 50px;
  left: 120px;
}

button.like:hover {
  cursor: pointer;
  background: #BABAC0;
}

button.unlike:hover {
  cursor: pointer;
  color: #00f;
}

i.liked {
  color: #f00;
}

form.clicked {
  display: none;
}

a.messaging {
  background: #8EA7F1;
  padding: 4px;
  border-radius: 3px;
  color: #fff;
  float: right;
  position: relative;
  right: 20px;
  top: 20px;
}

a.messaging:hover {
  color: #00f;
}

i.fa-pencil-square-o {
  color: #8EA7F1;
}

i.fa-pencil-square-o.hidden {
  display: none;
}

i.fa-pencil-square-o:hover {
  color: #00f;
  cursor: pointer;
}

button.change-avatar {
  display: block;
  background: #8EA7F1;
  border-radius: 3px;
  padding: 3px;
  color: #fff;
}

.change-avatar:hover {
  color: #00f;
  cursor: pointer;
}

p {
  width: 430px;
}

img {
  margin-left: 20px;
  margin-top: 20px;
  width: 128px;
}

h3.profile-show-header {
  width: 300px;
  height: 40px;
  position: relative;
  left: 275px;
  top: -600px;
  font-size: 50px;
}

h3.your-profile-show-header {
  width: 300px;
  height: 40px;
  position: relative;
  left: 161px;
  top: 120px;
  font-size: 30px;
}

i.avatar-edit {


}
