// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.profile-edit {
  margin: 0 0 0 120px;
}

textarea.profile-edit {
  border: none;
  resize: none;
  display: block;
  overflow: hidden;
}

textarea.profile-edit:hover {
  border: 1px solid blue;
  resize: both;
}

textarea.profile-edit:focus {
  border: 1px solid blue;
}

button.like {
  background: #E9E9F0;
  padding: 3px;
  border-radius: 3px;
}

button.unlike {
  background: #8EA7F1;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

button.like:hover {
  cursor: pointer;
  background: #BABAC0;
}

button.unlike:hover {
  cursor: pointer;
  color: #00f;
}

i.liked {
  color: #f00;
}

form.clicked {
  display: none;
}

h3.profile-show-header {
  padding: none;
}

a.messaging {
  background: #8EA7F1;
  padding: 4px;
  border-radius: 3px;
  color: #fff;
}

a.messaging:hover {
  color: #00f;
}
