// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.questions {
  list-style: none;
  background: #DCDCDF;
  margin-left: 150px;
  margin-right: 30px;
  padding: 5px;
}

ul.questions li {
  background: #fff;
  margin: 5px;
}

ul.questions div.answers {
  float: left;
}
