// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filler {
  font-weight: bold;
  color: #00f;
}

.users-list {
  // position: relative;
}

.users-list ul {
  // position: absolute;
  margin: 10px;
  border: 1px solid #000;
}

section.about-me li {
  list-style-type: none;
  display: block;
  padding: 10px;
}

.email {
}

section.about-me textarea {
  border: 0px solid;
}

h1.title {
  float: right;
  color: #f00;
}

div.new-user {
  padding-top: 150px;
  color: #fff;
}

form.new-user {
  margin: 0 50px 50px 50px;
  padding: 50px;
  background: #436CE8;
  border-radius: 5px;
}

form input {
  background: #8EA7F1;
  border-radius: 3px;
  padding: 3px 3px 3px 6px;
}

input[type=text], input[type=password], input[type=email] {
  color: #00f;
}

form label.header {
  font-weight: bold;
}

section.orientation input {
  margin: 0 5px 0 0;
}

section.gender input {
  margin: 0 5px 0 0;
}

button.submit {
  background: #8EA7F1;
  border-radius: 3px;
  padding: 3px;
}

button.submit:hover {
  color: #00f;
  cursor: pointer;
}

// label.username:hover ~ input.username {
//   background: #00f;
// }
//
// label.email:hover ~ input.email {
//   background: #00f;
// }
//
// label.country:hover ~ input.country {
//   background: #00f;
// }
//
// label.zipcode:hover ~ input.zipcode {
//   background: #00f;
// }

// input[type="radio"]:checked+label{ font-weight: bold; }

.hvr-glow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 15px rgba(0, 0, 0.4, 0.6);
}

h3.user-search {
  font-size: 36px;
}

p {
  font-size: 12px;
}

input.query {
  background: #8EA7F1;
  border-radius: 3px;
}

input.search {
  background: #8EA7F1;
  border-radius: 3px;
  color: #fff;
}

input.search:hover, a.next-page:hover {
  color: #00f;
}

a.next-page {
  background: #8EA7F1;
  border-radius: 3px;
  color: #fff;
}

ul.search-results {
  margin-left: 140px;
  margin-right: 20px;
  background: #DCDCDF;
  padding: 0;
  list-style: none;
}

div.search-input {
  margin-left: 140px;
}

li.searches {
  margin: 5px;
}

li.searches h3 {
  padding: 3px;
  margin: 2px;
  border-bottom: 3px solid #fff;
}

li.searches h3 a {
  bottom: 8px;
  right: 7px;
  position: relative;
}

div.user-search-header {
  padding-left: 140px;
  padding-top: 83px;
}
