// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filler {
  font-weight: bold;
  color: #00f;
}

.users-list {
  // position: relative;
}

.users-list ul {
  // position: absolute;
  margin: 10px;
  border: 1px solid #000;
}

section.about-me li {
  list-style-type: none;
  display: block;
  padding: 10px;
}

.email {
}

section.about-me textarea {
  border: 0px solid;
}

h1.title {
  float: right;
  color: #f00;
}
