<h1>Nothing quite like root</h1>

<a href="#messages">Messages</a>
<a href="#profiles/<%= OkStupid.currentUser.id %>">Profile</a>
<a href="#matches/<%= OkStupid.currentUser.id %>">Matches</a>
<a href="#likes/<%= OkStupid.currentUser.id %>">Likes</a>
<a href="#questions">Questions</a>
<a href="#message/new">Send a Message</a>
