<h1 class="title group">
  <a class="title" href="/#">Ok<i class="fa fa-heart"></i>Stupid</a>
  <% if(OkStupid.currentUser.isSignedIn()) { %>
  <nav class="sign-outs">
    <strong class="user-name">How-de-do <%= OkStupid.currentUser.escape("username") %></strong>
    <a class="user-search" href="#users"><i class="fa fa-search"></i> Find a User</a>
    <a href="#">Sign Out</a>
  </nav>

  <nav class="sidebar">
    <a class="hvr-box-shadow-outset" href="/#questions"><i class="fa fa-question"></i> Questions</a>
    <a class="hvr-box-shadow-outset" href="/#profiles/<%= OkStupid.currentUser.get("id") %>"><i class="fa fa-user"></i> Profile</a>
    <a class="hvr-box-shadow-outset" href="/#messages"><i class="fa fa-envelope"></i> Messages</a>
    <a class="hvr-box-shadow-outset" href="/#matches"><i class="fa fa-heart"></i> Matches</a>
    <a class="hvr-box-shadow-outset" href="/#likes"><i class="fa fa-star"></i> Likes</a>
  </nav>
  
  <% } else { %>
  <nav class="sign-ins">
    <a href="#session/new"><i class="fa fa-sign-in"></i> Sign In</a>
    <a href="#users/new"><i class="fa fa-arrow-circle-o-up"></i> Sign Up</a>
  </nav>
</h1>
  <% } %>
