<!DOCTYPE html>
<html>
<head>
  <title>OkCalypso</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="/assets/masonry.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
